# Dépendances
node_modules/
src/node_modules/

# Cache Vite
.vite/
src/.vite/

# Build
dist/
src/dist/

# Environnement
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
